################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KrogerDataAnalytics/FileContentIndex
/.vs/KrogerDataAnalytics/v17/.suo
