################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KrogerDataAnalytics/FileContentIndex
/.vs/KrogerDataAnalytics/v17/.suo
/.vs/KrogerDataAnalytics/CopilotIndices/17.13.433.20974
/.vs/KrogerDataAnalytics/DesignTimeBuild
/.vs
